@import 'variables';

.content {
    min-height: calc(100vh - 2 * 80px - 2 * 32px);
    padding: 32px;
    background-color: $secondaryColor;
    @media screen and (max-width: 600px) {
        min-height: calc(100vh - 80px - 120px - 2 * 16px);
        padding: 16px;
    }
}